<!-- <p-dropdown
  [options]="cities"
  [formControl]="cityFormControl"
  placeholder="Select a City"
  optionLabel="name"
  [showClear]="true"
>
</p-dropdown>

{{ cityFormControl.value | json }} -->

<p-dropdown
  [options]="pokemonDataList"
  placeholder="Select a Pokemon"
  optionLabel="name"
  
  (onChange)="selectedPokemon($event)"
  [showClear]="true"
>
</p-dropdown>

<span *ngFor="let imageUrl of image_sprites">
    <img 
    #imageEl
    [src]="imageUrl"
     alt="รูปโปเกมอน"
     class="clickable-img"
     >
  </span>

  <div *ngFor="let abi of abilities">
        {{abi}}
  </div>

  