
<img 
#pokemonImage
(click)="movement(pokemonImage)"
[src]="pokemonUrl"
 alt="รูปโปเกมอน"
 class="clickable-img"
 >

 <!-- {{sprites | json}} -->
  <span *ngFor="let imageUrl of image_sprites">
    <img 
    #imageEl
    (click)="movement(imageEl)"
    [src]="imageUrl"
     alt="รูปโปเกมอน"
     class="clickable-img"
     >
  </span>

 <p-table [value]="pokemonDataList"
 [paginator]="true" [rows]="5"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pokemon>
    <tr>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.url }}</td>
      <td class="control-button-table">
        <p-button 
        (onClick)="showPokemon(pokemon)"
        label="show" icon="pi pi-search"></p-button>

      </td>
    </tr>
  </ng-template>
</p-table>