
<div class="container">
  <header class="container_header">
    <span [routerLink]="['home']">
        Home
    </span>
    <span [routerLink]="['student']">
        Student
    </span>

    <span [routerLink]="['add']">
        Add Student 
    </span>

    <span [routerLink]="['pokemon']">
        Pokemon 
    </span>

  </header>
  <main class="container_main">
    <!-- <p-button (onClick)="transform5BahtToBaht()" label="Calculate" ></p-button>
    <p-button (onClick)="sum()" label="Sum" ></p-button>
    เหรียญห้าบาท {{fiveBahtList | json}}
    เหรียญบาท {{oneBahtList | json}}
    ผลรวม {{summary}} -->

  
    <router-outlet></router-outlet>

  </main>
</div>
