<div class="query-container">
  <div>
    <span>ชื่อ :</span>
    <input type="text" pInputText />
  </div>
  <div>
    <span>อีเมล :</span>
    <input type="text" pInputText />
  </div>
  <div>
    <span>โทรศัพท์ :</span>
    <input type="text" pInputText />
  </div>
</div>
<div class="query-container">
  <p-button label="ค้นหา"></p-button>
  <p-button label="ยกเลิก"></p-button>
</div>
<div class="table-container">
  <p-button label="เพิ่ม" icon="pi pi-plus-circle"></p-button>
</div>
<div>
  <p-table [value]="students"
   [paginator]="true" [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Tel</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.tel }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
