/* You can add global styles to this file, and also import other style files */
.container {
 
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    row-gap: 0.5em;
 
}

header.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

.query-container {
    display: flex;
    place-content: center;
    grid-column-gap: 0.5em;
    column-gap: 0.5em;
    padding: 0.5em;
}

.table-container {
    display: flex;
    justify-content: flex-end;
}

td.control-button-table {
    display: flex;
    justify-content: flex-end;
}

img.clickable-img {
    cursor: pointer;
}

.student-form {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    row-gap: 0.5em;
}